* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0px 20px 42px;
}

.linkheader {
    height: 21px;
    width: 83px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
    display: inline-block;
}

.button-login {
    height: 51px;
    width: 124px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.logo-desafio {
    width: 595.18px;
    height: 500px;
    left: 121px;
    top: 246px;
    display: inline-block;
}

section {
    display: inline-block;
    margin: 85px;
}

.titulo {
    width: 582px;
    height: 164px;
    left: 801px;
    top: 342px;

    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

.txt {
    width: 493px;
    height: 99px;
    left: 801px;
    top: 553px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.learn {
    height: 27px;
    left: 55.62%;
    right: 36.6%;
    top: calc(50% - 27px/2 + 296.5px);

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}

/*aqui vamos fazer responsivo */

@media screen and(max-width:300) {

    body {

        Width: 390px;
        Height: 800px;
        Top: -1455px;
        Left: 1128px;
    }

    .logo-desafio {
        width: 390px;
        height: 800px;
    }



}